<%= render "shared/header" %>
<div class='main'>

  <%# 画面上部の「人生を変えるフリマアプリ」帯部分 %>
  <div class='title-contents'>
    <h2 class='service-title'>
      ニッチな話題で盛り上がろう
    </h2>
    <p class='service-explain'>
      飾らないありのままの自分で
    </p>
    <p class='service-explain'>
      
    </p>
    <div class='store-btn'>
      <%= link_to image_tag("app-store.svg", class:"apple-btn"), "#" %>
      <%= link_to image_tag("google-play.png", class:"google-btn"), "#" %>
    </div>
  </div>
  <%# /画面上部の「人生を変えるフリマアプリ」帯部分  %>

  <%# 3つのルール部分 %>
  <div class='select-reason-contents'>
    <h2 class='title'>
      NICHE TALK　3つのルール
    </h2>
    <ul class='reason-lists'>
      <li class='list'>
        <%= image_tag "nichetalk-intro01.png", class:"list-pict" %>
        <span class='reason-list-number'>1</span>
        <h3 class='reason-list-text'>
          映えない
        </h3>
        <p class='reason-list-description'>
          <span class='reason-blue-text'>自分でリア充アピールするのも他人のリア充アピール見るのも疲れた...</span>
          <br>他人の目を気にして無理に自分を偽る必要はありません。映えを意識しないありのままの自分で語りましょう。<br>
        </p>
      </li>
      <li class='list'>
        <%= image_tag "nichetalk-intro02.png", class:"list-pict" %>
        <span class='reason-list-number'>2</span>
        <h3 class='reason-list-text'>
          ユニーク
        </h3>
        <p class='reason-list-description'>
          <span class='reason-blue-text'>自分の趣味があまりにマニアック過ぎて、周りに話す人がいない...</span>
          <br>NICHE TALKは少数派のためのコミュニティです。本当に趣味の合う、ニッチな仲間がきっと見つかります。<br>
        </p>
      </li>
      <li class='list'>
        <%= image_tag "nichetalk-intro03.png", class:"list-pict" %>
        <span class='reason-list-number'>3</span>
        <h3 class='reason-list-text'>
          チルい空間
        </h3>
        <p class='reason-list-description'>
          <span class='reason-blue-text'>話題の変化が激し過ぎてSNSについていけない...</span>
          <br>チルいとはchill outのことでまったりリラックスすることです。NICHE TALKは楽にゆるくを推奨した空間をお届けします。<br>
        </p>
      </li>
    </ul>
  </div>
  <%# /3つのルール部分 %>

  <%# トピック一覧 %>
  <div class='item-contents'>
    <h2 class='title'>トピック</h2>
    <%# <div class="subtitle" > %>
      <%# 新規投稿商品 %>
    <%# </div> %>
    <ul class='item-lists'>

      <%# 商品のインスタンス変数になにか入っている場合、中身のすべてを展開できるようにしましょう %>
      <li class='list'>
        <%= link_to "#" do %>
        <div class='item-img-content'>
          <%= image_tag "nichetalk-intro02.png", class: "item-img" %>

        </div>
        <div class='item-info'>
          <h3 class='item-name'>
            <%= "タイトル" %>
          </h3>
          <div class='item-text'>
            <%= "テキストテキストテキスト"%>
            <div class='star-btn'>
              <%= image_tag "star.png", class:"star-icon" %>
              <span class='star-count'>0</span>
            </div>
          </div>
        </div>
        <% end %>
      </li>
      <%# //商品のインスタンス変数になにか入っている場合、中身のすべてを展開できるようにしましょう %>

      <%# 商品がない場合は以下のダミー商品が表示されるようにしましょう %>
      <%# 商品がある場合は表示されないようにしましょう %>
      <li class='list'>
        <%= link_to '#' do %>
        <%= image_tag "https://tech-master.s3.amazonaws.com/uploads/curriculums/images/Rails1-4/sample.jpg", class: "item-img" %>
        <div class='item-info'>
          <h3 class='item-name'>
            トピックを投稿してね！
          </h3>
          <div class='item-text'>
            <%= "テキストテキストテキスト" %>
            <div class='star-btn'>
              <%= image_tag "star.png", class:"star-icon" %>
              <span class='star-count'>0</span>
            </div>
          </div>
        </div>
        <% end %>
      </li>
      <%# //商品がある場合は表示されないようにしましょう %>
      <%# //商品がない場合は以下のダミー商品が表示されるようにしましょう %>
    </ul>
  </div>
  <%# /商品一覧 %>
</div>
<%= link_to('#', class: 'purchase-btn') do %>
  <span class='purchase-btn-text'>投稿する</span>
  <%= image_tag 'icon_camera.png' , size: '185x50' ,class: "purchase-btn-icon" %>
<% end %>
<%= render "shared/footer" %>