<%= render "shared/header" %>
<div class='main'>

  <%# 画面上部の帯部分 %>
  <div class='title-contents'>
    <h2 class='service-title'>
      ニッチな話題で盛り上がろう
    </h2>
    <p class='service-explain'>
      飾らないありのままの自分で
    </p>
    <p class='service-explain'>
      
    </p>
    <div class='store-btn'>
      <%= link_to image_tag("app-store.svg", class:"apple-btn"), "#" %>
      <%= link_to image_tag("google-play.png", class:"google-btn"), "#" %>
    </div>
  </div>
  <%# /画面上部の帯部分  %>

  <%# 3つのルール部分 %>
  <div class='select-reason-contents'>
    <h2 class='title'>
      NICHE TALK　3つのルール
    </h2>
    <ul class='reason-lists'>
      <li class='list'>
        <%= image_tag "nichetalk-intro01.png", class:"list-pict" %>
        <span class='reason-list-number'>1</span>
        <h3 class='reason-list-text'>
          映えない
        </h3>
        <p class='reason-list-description'>
          <span class='reason-blue-text'>自分でリア充アピールするのも他人のリア充アピール見るのも疲れた...</span>
          <br>他人の目を気にして無理に自分を偽る必要はありません。映えを意識しないありのままの自分で語りましょう。<br>
        </p>
      </li>
      <li class='list'>
        <%= image_tag "nichetalk-intro02.png", class:"list-pict" %>
        <span class='reason-list-number'>2</span>
        <h3 class='reason-list-text'>
          ユニーク
        </h3>
        <p class='reason-list-description'>
          <span class='reason-blue-text'>自分の趣味があまりにマニアック過ぎて、周りに話す人がいない...</span>
          <br>NICHE TALKは少数派のためのコミュニティです。本当に趣味の合う、ニッチな仲間がきっと見つかります。<br>
        </p>
      </li>
      <li class='list'>
        <%= image_tag "nichetalk-intro03.png", class:"list-pict" %>
        <span class='reason-list-number'>3</span>
        <h3 class='reason-list-text'>
          チルい空間
        </h3>
        <p class='reason-list-description'>
          <span class='reason-blue-text'>話題の変化が激し過ぎてSNSについていけない...</span>
          <br>チルいとはchill outのことでまったりリラックスすることです。NICHE TALKは楽にゆるくを推奨した空間をお届けします。<br>
        </p>
      </li>
    </ul>
  </div>
  <%# /3つのルール部分 %>

  <%# トピック一覧 %>
  <div class='item-contents'>
    <h2 class='title'>トピック</h2>
    <%# <div class="subtitle" > %>
      <%# 新規投稿商品 %>
    <%# </div> %>
    <ul class='item-lists'>

      <%# インスタンス変数になにか入っている場合、中身のすべてを展開できる %>
      <% @topics.each do |topic| %>
        <li class='list'>
          <%= link_to topic_path(topic.id) do %>
            <% if topic.images.length == 1 %>
              <div class='user-name'>
                <%= topic.user.nickname %>
              </div>
              <div class='item-img-content'>
                <%= image_tag topic.images[0].variant(resize: '500x500^', gravity: "center", crop: "500x500+0+0" ), class: "item-img" if topic.images.attached? %>
              </div>
            <% elsif topic.images.length == 4 %>
              <div class='user-name'>
                <%= topic.user.nickname %>
              </div>
              <div class='item-img-box'>
                <div class='item-img-content'>
                  <%= image_tag topic.images[0].variant(resize: '500x500^', gravity: "center", crop: "500x500+0+0" ), class: "item-img1" if topic.images.attached? %>
                </div>
                <div class='item-img-content'>
                  <%= image_tag topic.images[1].variant(resize: '500x500^', gravity: "center", crop: "500x500+0+0" ), class: "item-img2" if topic.images.attached? %>
                </div>
                <div class='item-img-content'>
                  <%= image_tag topic.images[2].variant(resize: '500x500^', gravity: "center", crop: "500x500+0+0" ), class: "item-img3" if topic.images.attached? %>
                </div>
                <div class='item-img-content'>
                  <%= image_tag topic.images[3].variant(resize: '500x500^', gravity: "center", crop: "500x500+0+0" ), class: "item-img4" if topic.images.attached? %>
                </div>
              </div>
            <% elsif topic.images.length == 0 %>
              <div class='user-name'>
                <%= topic.user.nickname %>
              </div>
              <div class='item-img-content'>
                <%= image_tag "no_image_square.jpg", class: "item-img" %>
              </div>
            <% else %>
              <div class='user-name'>
                <%= topic.user.nickname %>
              </div>
              <div class='item-img-content'>
                <%= image_tag topic.images[0].variant(resize: '500x500^', gravity: "center", crop: "500x500+0+0" ), class: "item-img" if topic.images.attached? %>
              </div>
            <% end %>
          <div class='item-info'>
            <h3 class='item-name'>
              <%= topic.title %>
            </h3>
            <div class='item-text'>
              <%= topic.content %>
              <%# <div class='star-btn'> %>
                <%# <%= image_tag "star.png", class:"star-icon" %>
                <%# <span class='star-count'>0</span> %>
              <%# </div> %>
            </div>
          </div>
          <% end %>
        </li>
      <% end %>
      <%# //インスタンス変数になにか入っている場合、中身のすべてを展開できる %>

      <%# トピックがない場合は以下のダミーが表示 %>
      <%# トピックがある場合は表示されない %>
      <% if @topics.blank? %>
        <li class='list'>
          <%= link_to '#' do %>
          <%= image_tag "davisuko-5E5N49RWtbA-unsplash.jpg", class: "item-img" %>
          <div class='item-info'>
            <h3 class='item-name'>
              トピックを投稿してね！
            </h3>
            <div class='item-text'>
              <%= "テキストテキストテキスト" %>
              <div class='star-btn'>
                <%= image_tag "star.png", class:"star-icon" %>
                <span class='star-count'>0</span>
              </div>
            </div>
          </div>
          <% end %>
        </li>
      <% end %>
      <%# //とぴっくがある場合は表示されない %>
      <%# //トピックがない場合は以下のダミー商品が表示 %>
    </ul>
  </div>
  <%# /商品一覧 %>
</div>
<% if user_signed_in? %>
  <%= link_to(new_topic_path, class: 'purchase-btn') do %>
    <span class='purchase-btn-text'>投稿する</span>
    <%= image_tag 'icon_post.png' , size: '185x50' ,class: "purchase-btn-icon" %>
  <% end %>
<% else %>
  <%= link_to(class: "nav-link", "data-bs-toggle": "modal", "data-bs-target": "#signinModal") do %>
    <span class='purchase-btn-text'>ログイン</span>
    <%= image_tag 'icon_post.png' , size: '185x50' ,class: "purchase-btn-icon" %>
  <% end %>
<% end %>
<%= render "shared/footer" %>