<%= render "shared/header" %>

<%# トピックの概要 %>
<div class="item-show">
  <div class="item-box">
    <h2 class="name">
      <%= @topic.title %>
    </h2>
    <div class='item-img-box'>
      <% @topic.images[0..-1].each do |image| %>
        <div class="other-image">
          <%= image_tag image.variant(resize: '500x500^', gravity: "center", crop: "500x500+0+0"),class:"item-box-img" %>
        </div>
      <% end %>
    </div>

    <% if user_signed_in? %>
      <% if current_user.id == @topic.user_id %>
        <%= link_to "トピックの編集", edit_topic_path(@topic), method: :get, class: "item-blue-btn" %>
        <p class="or-text">or</p>
        <%= link_to "削除", topic_path(@topic), method: :delete, class:"item-destroy" %>  
      <% end %>
    <% end %>

    <%# <div class="item-explain-box"> %>
      <%# <span><%= "商品説明" </span> %>
    <%# </div> %>
    <table class="detail-table">
      <tbody>
        <% if user_signed_in? %>
          <% if current_user.id != @topic.user_id %>
            <tr>
              <th class="detail-item">ニックネーム</th>
              <td class="detail-value"><%= link_to @topic.user.nickname, user_path(@topic.user_id) %></td>
            </tr>
          <% else %>
            <tr>
              <th class="detail-item">ニックネーム</th>
              <td class="detail-value"><%= @topic.user.nickname %></td>
            </tr>
          <% end %>
        <% end %>
        <tr>
          <th class="detail-item">トピック</th>
          <td class="detail-value"><%= @topic.title %></td>
        </tr>
        <tr>
          <th class="detail-item">トピックの詳細</th>
          <td class="detail-value"><%= @topic.content %></td>
        </tr>
        <tr>
      </tbody>
    </table>
    <% if user_signed_in? %>
      <% if current_user.id != @topic.user_id %>
        <div class="create-room">
          <p class="user-nickname"><%= link_to "#{@topic.user.nickname}をフォローする", user_path(@topic.user_id) %></p>
        </div>
      <% end %>
    <% end %>
  </div>
  <%# /トピックの概要 %>

  <%# 詳細ページで表示されている商品のカテゴリー名を表示 %>
  <%# <a href="#" class="another-item"><%= @topic.category % をもっと見る</a> %>
  <%# //詳細ページで表示されている商品のカテゴリー名を表示 %>
</div>
<% if user_signed_in? %>
  <%= link_to(topic_rooms_path(@topic), class: 'purchase-btn') do %>
    <span class='purchase-btn-text'>チャットルームへ移動する</span>
    <%= image_tag 'presentation_white.png' , size: '185x50' ,class: "purchase-btn-icon" %>
  <% end %>
<% else %>
  <%= link_to(class: "nav-link", "data-bs-toggle": "modal", "data-bs-target": "#signinModal") do %>
    <span class='purchase-btn-text'>投稿する</span>
    <%= image_tag 'presentation_white.png' , size: '185x50' ,class: "purchase-btn-icon" %>
  <% end %>
<% end %>
<%= render "shared/footer" %>
